In [1]:
# Dependencies
import pandas as pd

In [2]:
# Name of the CSV file
csv_file = "../Resources/budget_data.csv"
budget_df = pd.read_csv(csv_file)

budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
# The total number of months included in the dataset
months_count = budget_df["Date"].count()
months_count

86

In [4]:
# The net total amount of "Profit/Losses" over the entire period
net_total = budget_df["Profit/Losses"].sum()
net_total

38382578

In [5]:
# The average of the changes in "Profit/Losses" over the entire period
budget_df["Profit/Loss Diff"] = budget_df["Profit/Losses"].diff()

profit_loss_average = budget_df["Profit/Loss Diff"].mean()

profit_loss_average

-2315.1176470588234

In [6]:
# The greatest increase in profits (date and amount) over the entire period
greatest_increase = budget_df["Profit/Loss Diff"].max()


greatest_increase_row = budget_df.loc[budget_df["Profit/Loss Diff"] == greatest_increase, "Date"]


greatest_increase_date = greatest_increase_row.iloc[0]


print(greatest_increase_date, greatest_increase_row)

Feb-2012 25    Feb-2012
Name: Date, dtype: object

In [7]:
# The greatest decrease in losses (date and amount) over the entire period
greatest_decrease = budget_df["Profit/Loss Diff"].min()

greatest_decrease_row = budget_df.loc[budget_df["Profit/Loss Diff"] == greatest_decrease, "Date"]

greatest_decrease_date = greatest_decrease_row.iloc[0]

print(greatest_decrease_date, greatest_decrease_row)

Sep-2013 44    Sep-2013
Name: Date, dtype: object

In [8]:
print("Financial Analysis")
print("-------------------")
print(f"Total Months: {months_count}")
print(f"Total Revenue: ${net_total}")
print(f"Average Change: ${profit_loss_average}")
print(f"Greatest Increase in Profits: {greatest_increase_date}({greatest_increase})")
print(f"Greatest Decrease in Profits: {greatest_decrease_date}({greatest_decrease})")

Financial Analysis
-------------------
Total Months: 86
Total Revenue: $38382578
Average Change: $-2315.1176470588234
Greatest Increase in Profits: Feb-2012(1926159.0)
Greatest Decrease in Profits: Sep-2013(-2196167.0)

In [9]:
# Export Script to Local
output_path = os.path.join("budget_report.txt")

NameError: name 'os' is not defined